footer {
  margin-top: auto;
  border-top: 1px solid #e6e6e6;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.55rem;
}

.logo-image-footer {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.55rem;
  text-decoration: none;
  outline: none;
}

.logo-text {
  color: #164387;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}

.footer-inner {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  height: 64px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  text-align: center;
  color: #665;
  font-size: 0.9rem;
}

.back-btn {
  background-color: #e2e6e9;
}
